@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: none;
    margin:none;
    box-sizing: border-box;
}
html{
    height:100vh;
}
#root{
    height: 100%;
}
body{
    min-height: 100%;
}
.black{
    background-color:  hsl(230, 17%, 14%);
    color:#f0f2fa ;

}
.bg-blue-facebook{
    background-color: hsl(208, 92%, 53%);
}
.bg-blue-twitter{
    background-color: hsl(203, 89%, 53%)
}
.bg-instagram{
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.bg-red-youtube{
    background-color:hsl(348, 97%, 39%) ;
}
